<!-- <ng-template #dialoggg>

   
    
    </ng-template> -->

    <div id="container">
      <div class="Image-container">
        <mat-icon id="cancel" (click)="onCancel()" >close</mat-icon>
          <!--<img id="cancel"[src]="'images/cancel button.png' | assetUrl" alt=""/> --> 
      </div>
      <div>
        <img id="standard"[src]="'images/standard_bank_logo.png' | assetUrl" alt=""/> 
      </div>
      <div class="survey">
          <div><h3> How happy are you with the service you just received?</h3></div>
          <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="50px" height="50px"><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM164.1 325.5C182 346.2 212.6 368 256 368s74-21.8 91.9-42.5c5.8-6.7 15.9-7.4 22.6-1.6s7.4 15.9 1.6 22.6C349.8 372.1 311.1 400 256 400s-93.8-27.9-116.1-53.5c-5.8-6.7-5.1-16.8 1.6-22.6s16.8-5.1 22.6 1.6zM208.4 208c0 17.7-14.3 32-32 32s-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32zm128 32c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32z"/></svg>-->
         <div class="Smiles">
          
          <div><mat-icon class="happy">sentiment_very_satisfied</mat-icon> <p>Happy</p> </div>
          <div class="faceIndifferent"><mat-icon class="indifferent">sentiment_satisfied</mat-icon><p>Indifferent</p></div>
          <div> <mat-icon class="Nothappy">sentiment_very_dissatisfied</mat-icon> <p>Not happy</p></div>
        </div>
      </div>
    </div>
