.container {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
   // max-height: 90px;
    //max-width: 200px;
    //margin-bottom: 10px;
    //margin-top: 10px;
  }
  
  .heading {
    font-weight: bold;
    font-size: 20px;
    
  }
  
  //img {
   // height: 72px;
  //  width: 72px;
    //margin-bottom: 24px;
 // }
  
  .description {
   width: 350px;
   text-align: center;
   margin-top: 10px;
  }
  
  //.action-box {
  //  display: flex;
   //// justify-content: center;
   // flex-direction: column;
  //}
  
  .resetpage{
    background-color: #0033aa;
    border-radius: 6px;
    border: none;
    color: #fff;
    width: 202px;
    height: 42px;
    cursor: pointer;
    margin-bottom:px;
    margin-top: 30px;

  }
  
  .cancel-button {
    background-color: #fff;
    border-radius: 4px;
    width: 342px;
    height: 42px;
    margin-top: 15px;
    cursor: pointer;
    border: 1px solid #616e88;
  }
  .mat-icon {
    font-size: 32px;
    color:#0033aa;
    margin-top: 5px;
   
}
p {margin-top: 10px;

}