<div class="log-int-container">
  <a href="https://www.stanbicibtcbank.com/nigeriabank/personal">
    <img [src]="'images/standard_bank_logo.png' | assetUrl" alt="Standard Bank Logo">
  </a>
  <div class="init-text">
    <h3 i18n>Stanbic IBTC Bank</h3>
    <small i18n>A member of Standard Bank Group</small>
  </div>
</div>

<div class="welcome-container">
  <p i18n>WELCOME TO </p>
  <h2 i18n>Internet Banking</h2>
</div>

<!--<div class="account-open-container" (click)="openAccountCreation()">-->
<!--    <div class="spherical-el">-->
<!--      <mat-icon i18n>description</mat-icon>-->
<!--    </div>-->
<!--      <h3 i18n>New to Standard Bank?</h3>-->
<!--      <a i18n>Open a new account</a>-->
<!--</div>-->
<!--<div class="account-open-container" (click)="openAgentLocator()">-->
<!--    <div class="spherical-el">-->
<!--      <mat-icon >description</mat-icon>-->
<!--    </div>-->
<!--      <h3 i18n>Locate us</h3>-->
<!--      <a i18n>Find the closest branch or ATM</a>-->
<!--</div>-->
<div class="account-open-container" (click)="openAgentQuickServices()">
    <div class="spherical-el ">
      <mat-icon class="qs" i18n>build</mat-icon>
    </div>
      <h3 i18n>Quick Services</h3>
      <a i18n>Account modification without visiting a bank</a>
</div>

<div class="download-app">
  <p i18n>Download our super app</p>
      <button class="download-button play-store">
          <img [src] ="'images/Google-Play-Store-Button-300x98.png' | assetUrl" alt="">
      </button>
      <button class="download-button apple-store">
          <img [src]="'images/App-Store-Button2.png' | assetUrl" alt="">
      </button>
</div>
<!--<p class="privacy">&copy; Standard Bank, 2023 Privacy and terms policy   Contact us</p>-->

<!-- <div class="quick-services">
<mat-icon color="primary" class="info">info</mat-icon>
<p>Want to carry out modifications without going to a branch? <a>GOTO QUICK SERVICES</a></p>
<mat-icon color="primary" class="arrow">arrow_forward_ios</mat-icon>
</div> -->

<div class="quick-links">

  <a class="items mutual funds" href="https://www.stanbicibtcassetmanagement.com/nigeriaassetmanagement/individual-investor" target="_blank" >
    <img [src]="'images/Mutual Funds.png' | assetUrl" alt="" />
    <p i18n>Mutual Funds</p>
</a>

  <a class="items pension" href="https://ssl.stanbicibtcpension.com/" target="_blank">
    <img [src]="'images/Pensions.png' | assetUrl" alt="" />
    <p i18n>Pensions</p>
</a>



  <a class="items @ease" href="https://www.stanbicibtcbank.com/nigeriabank/personal/ways-to-bank/@ease-wallet" target="_blank" >
    <img [src]="'images/@Ease.png' | assetUrl" alt="" />
    <p>@Ease</p>
</a>

  <a class="items insurance" href="https://www.stanbicibtcinsurancebrokers.com/" target="_blank" >
    <img [src]="'images/Insurance.png' | assetUrl" alt="" />
    <p>Insurance</p>
</a>

  <a class="items stock" href="https://www.stanbicibtcstockbrokers.com/" target="_blank">
    <img [src]="'images/Stock.png' | assetUrl" alt="" />
    <p>Stock</p>
</a>

<!-- <mat-icon color="primary">info</mat-icon>
  <p>Want to carry out modifications without going to a branch? <a>GO TO QUICK SERVICES</a></p>
  <mat-icon color="primary">arrow_forward_ios</mat-icon> -->
</div>
