<main>
    <app-header [title]="'Create new advert'"></app-header>
    <!-- <section>
        <mat-toolbar>
            <span>Dashboard</span>
            <input type="text" placeholder="Search" class="search-field" (input)="search($event)">
            <button (click)="addAppControl()" mat-button>
               <img src="../../../assets/add-icon.png" alt="" style="width: 17px;"> &nbsp;&nbsp; Add New App
            </button>        
        </mat-toolbar>
    </section> -->
    <div class="flex-container">
      
        <button routerLink="/dashboard/manage-mobile-advert" mat-button style="border: 1px solid #f5f5f5;">
            <mat-icon>arrow_back</mat-icon>&nbsp;&nbsp; back
        </button> 
       
    </div>
    <section>
        <div class="push-notification-title">
             New Ad
        </div>

        <div class="flex-container ">
            <div class="flex-child-1">

                <p class="formlabel">
                    Media Type
                </p>
                <input type="text"  >

                <p class="formlabel">
                    Advert Title
                </p>
                <input type="text"  >
            

                <p class="formlabel">
                    Module
                </p>
                <input type="text"  >

                <p class="formlabel">
                    Advert Description
                </p>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            
            </div>
        </div>

        <button mat-button>
            Submit
        </button>
        
    </section>
</main>