<div class="card-options-wrapper">
  <!-- Debit/Credit card request area -->
  <!-- <mat-card
    class="card-option request-card mat-elevation-z0"
    [style.backgroundImage]="
      'url(' + ('images/request-new-card.png' | assetUrl) + ')'
    "
  >
    <mat-card-content>
      <h1>Request New Virtual Card</h1>
      <button mat-raised-button id="request-card" routerLink="request" disableRipple="true">
        <strong>Request New Virtual Card</strong>
      </button>
    </mat-card-content>
  </mat-card> -->

  <!-- Virtual card request area -->
  <!-- <mat-card
    class="card-option borderless mat-elevation-z0"
    [style.backgroundImage]="
      'url(' + ('images/borderless-card.png' | assetUrl) + ')'
    "
  >
    <mat-card-content>
      <h1>Borderless card abilities with Virtual Card</h1>

      <button
        mat-raised-button
        id="borderless"
        routerLink="virtual-card-request"
        class="mat-elevation-z0"
        disableRipple="true"
      >
        <strong>Request New Virtual Card</strong>
      </button>
    </mat-card-content>
  </mat-card> -->

  <!-- Card track history area -->
  <!-- <mat-card
    class="card-option track-progress mat-elevation-z0"
    [style.backgroundImage]="
      'url(' + ('images/card-track-bckgrnd.png' | assetUrl) + ')'
    "
  >
    <mat-card-content>
      <img [src]="'images/card-track-icon.png' | assetUrl" alt="" />
      <h1>No card track history currently avaliable</h1>
      <button mat-raised-button id="track-progress" disableRipple="true">
        <strong>Track Progress</strong>
      </button>
    </mat-card-content>
  </mat-card> -->
</div>
