
<a class="button-back" routerLink="/auth/resetPassword">
  <mat-icon>arrow_back_ios</mat-icon>
  <p i18n> Go Back </p>
</a>
<h3 i18n> New Password Reset</h3>
<div class="fill">
<p i18n> Fill in the correct details below to reset your password.</p>
</div>

  <form [formGroup] ="passwordcheck" >
    <mat-form-field appearance="fill">
      <mat-label>Enter Your Default Password</mat-label>
      <input matInput [type]="hideDefaultPass ? 'password' : 'text'"  formControlName="Defaultpassword">
      <button mat-icon-button matSuffix (click)="hideDefaultPass = !hideDefaultPass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideDefaultPass">
        <mat-icon>{{hideDefaultPass ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter Your New Password</mat-label>
      <input matInput [type]="hidePass ? 'password' : 'text'"    formControlName="Newpassword">
      <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
        <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm Your New Password</mat-label>
      <input matInput [type]="hideConfirmPass ? 'password' : 'text'"   formControlName="Confirmpassword">
      <button mat-icon-button matSuffix (click)="hideConfirmPass = !hideConfirmPass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPass">
        <mat-icon>{{hideConfirmPass ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="button">
      <button mat-raised-button id="SUBMIT" type="submit"  [disabled]="!passwordcheck.valid"  (click)="onSubmit()" i18n>SUBMIT </button>
      <button mat-raised-button id="CANCEL" routerLink="/auth/resetPassword" i18n>CANCEL</button>
  </div>

  </form>

