
.flex-container {
    display: flex;
}
.flex-sidebar {
    height: 100vh;
    flex: 1;
    background: linear-gradient(114.03deg, #0089FF 20.52%, #0033AA 114.65%);
}
.flex-child {
    height: 100vh;
    flex: 5;
    
}