main {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  align-items: center;

  .login-area-container {
    width:98%;
    display: grid;
    grid-template-columns: 56% 42%;
    gap: 2%;
    max-height: 70vh;
    min-height: 600px;
    margin-block: 50px;
    justify-self: center;
    max-width: 1000px;

    .right-auth-component {
      background: var(--auth-backgroundColour);
      border-radius: 8px;
      padding: 42px 32px;
      height: 100%;
      box-sizing: border-box;
      min-width: 360px;
    }

    .left-auth-component {
      background: linear-gradient(to top right,#0033AA, #0089FF);
      border-radius: 8px;
      display: grid;
      padding: 42px;
      color: #fff;
      height: 100%;
      box-sizing: border-box;
      // max-width: 550px;
    }


    @media (width < 850px) {
      display: flex;
      flex-flow: column-reverse;
      gap: 20px;
      max-height: unset;
      min-height: unset;
      width: unset;
      margin-inline: 50px;

      .right-auth-component {
        min-width: unset;
      }
    }
  }


}

