<a class="button-back" routerLink="/auth/Chosebankingtype">
    <mat-icon>arrow_back_ios</mat-icon>
    <p i18n> Go Back </p>
</a>
<h3 i18n>Reset password using secret word</h3>
<div class="fill">
 <p i18n> Fill in the correct details below to reset your password.</p>
</div>

<form *ngIf="page ==='validatForm' "  [formGroup]="validatForm">
   <div class="example-form">
    <mat-form-field appearance="outline">
        <mat-label i18n>Enter Your Internet Banking ID</mat-label>
        <input matInput 
        ngModel
        formControlName="BankingID"
        required>
      </mat-form-field>
      </div>
      <div>
          <mat-form-field appearance="outline">
            <mat-label i18n>Enter Your Corporate Account Number</mat-label>
            <input matInput
             ngModel
             formControlName="CorporateAccountNumber"
             required>
          </mat-form-field>  
      </div>
      <div>
          <mat-form-field appearance="outline">
            <mat-label i18n>Enter Secret Word</mat-label>
            <input matInput  [type]="showPassword ? 'text' : 'password'" name="password" 
            ngModel 
            formControlName="EnterSecretword"
            required>
            <mat-icon matSuffix (click)="togglePasswordVisibility()"> 
                {{showPassword?'visibility_off':'visibility'}}

            </mat-icon>
            
          </mat-form-field> 
        </div>
      
 
<div class="example-button-row">
    <button mat-raised-button id="SUBMIT" i18n type="submit" (click)="onSubmit()" >SUBMIT</button>
    <button mat-raised-button id="CANCEL" routerLink="/auth/login" i18n>CANCEL</button>
</div>
</form>


<ng-template #OtpModal>
  <div class="container">
    <h3>Confirm OTP</h3>
    <div class="box">
      <img [src]="'/images/smartphone 1.png' | assetUrl" />
      <span class="description">
        Please input the 6-digit OTP sent to your mobile number
      </span
      >
    </div>
  
    <form  [formGroup]="newForm" class="ui form">
      <div class="input-box">
        <mat-form-field id="OTP" appearance="outline">
          <mat-label>OTP</mat-label>
          <input
            matInput
            placeholder="Enter OTP"
            ngModel
            name="newForm.get('otp')"
            type ="text"
            minlength="6"
            maxlength="6"
            required
            pattern="[0-9]*"
            formControlName="otp"
            (keypress)="numberOnly($event)"> 
            <mat-error *ngIf="newForm.controls['otp'].hasError('minLength')">
                Please enter a valid number (6 digits long)
              </mat-error>
            </mat-form-field>

        
        <div class="text-wrapper">
          <div *ngIf="isResend == true" (click)="resendOTP()" class="resendOTPActive"> Resend OTP </div>
          <div *ngIf="isResend == false" class="resendOTP" style="color:#555"> Resend OTP </div>

          <span> OTP Expires in 
           
           <span id="check">{{ minutes }}:{{ seconds < 10 ? "0" + seconds : seconds }}</span> 
          </span>
         
        </div>
      </div>
      <div class="action-box">
        <button type="button" (click)= "onSubmitOTP()" [disabled]="newForm.invalid" class="ok-button">
          CONFIRM
        </button>
        <button type="button" class="cancel-button" (click)="onCancelOtp()">CANCEL</button>
      </div>
    </form>
  </div>
  



</ng-template>


<!-- <div *ngIf=" page ==='resestPasswordPage'">

  <form [formGroup]="lastestForm">
    <div class="example-form"> 
       <div>
           <mat-form-field appearance="outline">
             <mat-label i18n>Enter Your New Password</mat-label>
             <input matInput  [type]="showPassword ? 'text' : 'password'" name="password" 
             [(ngModel)]="newpasswordVariable" 
             formControlName="firstSecretword"
             required>
             <mat-icon matSuffix (click)="togglePasswordVisibility()"> 
                 {{showPassword?'visibility_off':'visibility'}}
             </mat-icon>  
           </mat-form-field> 
         </div>
         <div>
          <mat-form-field appearance="outline">
            <mat-label i18n>Confirm Your New Password</mat-label>
            <input matInput  [type]="showPassword ? 'text' : 'password'" name="password" 
            [(ngModel)]="confirmpasswordVariable" 
            formControlName="ConfirmSecretword"
            required>
            <mat-icon matSuffix (click)="togglePasswordVisibility()"> 
                {{showPassword?'visibility_off':'visibility'}}

            </mat-icon>
            
          </mat-form-field> 
        </div>
        </div>
       
  
 <div class="example-button-row">
     <button mat-raised-button id="SUBMIT" (click)="onsubmitLatest" i18n>SUBMIT</button>
     <button mat-raised-button id="CANCEL" routerLink="/auth/login" i18n>CANCEL</button>
 </div>
 </form>
</div> -->






