// p{
//     margin-top: 10px;
//     margin-bottom: 40px;
// }
// .mat-icon{
//     font-size: 18px;
//     color: #616E88;
// }

// .Debitcard{
//     display:flex;
//     background-color:#F2F3F5;
//     justify-content:space-between;
//     padding:10px;
//     border-radius: 5px;
//     color:#616E88;
//     cursor: pointer;
//     margin-bottom: 10px;
// }
// .item{
//     font-size: 15px;
// }

// .Secretword{
//     display:flex;
//     background-color:#F2F3F5;
//     justify-content:space-between;
//     padding:10px;
//     margin-bottom: 10px;
//     border-radius: 5px;
//     color:#616E88;
//     cursor: pointer;  
// }
// .Pin{
//     display:flex;
//     background-color:#F2F3F5;
//     justify-content:space-between;
//     padding:10px;
//     border-radius: 5px;
//     color:#616E88;
//     cursor: pointer; 
//     margin-bottom: 10px; 
// }
// .example-button-row{
//     margin-top: 180px;
// }
// #Back{
//     background-color: #0033AA;
//     color: white;
//     width: 120px;
// }

.resendOTPActive{
  padding: 3px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #005cc8;
  cursor: pointer;
}

.resendOTP{
  padding: 3px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #555;  padding: 3px;
  background: #f5f5f5;
}



a.button-back{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 5%;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

a.button-back mat-icon {
    transform: scale(0.8);
    margin-right: 2%;
}
.fill{
    margin-top: 10px;
    margin-bottom: 40px;
   font-size: 11.8px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}
.mat-form-field{
    width: 100%;
}
button{
    margin-top: 100px;
    height:42px
}
input.ng-invalid.ng-touched{
  color: red;
}


#SUBMIT{
    background-color: #0033AA;
    color: white;
    width:120px
}

#CANCEL{
    width:120px
}

.example-button-row .mat-button-base{
    margin-left:12px ;
}

// for OTPCSS

.container {
    display: flex;
    padding: 25px;
    flex-direction: column;
  }
  
  h2 {
    margin-bottom: 41px;
  }
  
  .description {
    width: 239px;
    margin-left: 27px;
  }
  
  .input-box {
    width: 364px;
  }
  
  .text-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .text-wrapper :first-child {
    color: #005cc8;
  }
  
  .box {
    display: flex;
    margin-bottom: 29px;
  }
  
  .action-box {
    display: flex;
    justify-content: flex-start;
  }
  
  .ok-button {
    background-color: #0033aa;
    border-radius: 4px;
    border: none;
    color: #fff;
    width: 195px;
    height: 42px;
    margin-top: 60px;
    cursor: pointer;
    margin-right: 18px;
  }
  
  .cancel-button {
    background-color: #fff;
    border-radius: 4px;
    width: 136px;
    height: 42px;
    margin-top: 60px;
    cursor: pointer;
    border: 1px solid #616e88;
  }
  
  .timer_counter{
    font-weight:bold;
    
  }
  
  mat-form-field{
    width: 100%;
  }
  
  #sendOTP {
    color: blue;
    margin: 0;
    cursor: pointer;
  
    &:disabled {
      color: rgb(179, 179, 179);
    }
  }
  
  .loader{
    margin-top:10px;
  }
  #check{
    color:red;
    font-size:20px;
    font-weight: 20px;
  }

/*below 740px(Smaller tablets)*/
@media(max-width:430px){
    #SUBMIT{
       
        width:80px !important
    }
  
    #CANCEL{width: 80px !important;
    // margin: 20px;
    }
    
  }

