.flex-container {
    display: flex;

}
.flex-child {
    // flex: 1;

}


.loading-container{
    text-align: center; width: fit-content; margin: auto;
    padding-top: 30px;
    div{
        padding-top: 10px;
        font-weight: bold;
    }
}

.section-divider{
    height: 1px;
    background: #ddd;
    width: 100%;
    margin: auto;
}


.advert-list-section{
    flex: 1;
    overflow: scroll;
    height: 100vh;
}
.advert-activity-section{

    flex: 2.2;
    height: 100%;
    border-left: 1px solid #ddd;

    overflow: scroll;
    height: 100vh;
}

.ad-list-name{
    font-weight: 500;
    padding-bottom: 10px;
}

.ad-list-status{
    background: rgba(65, 188, 50, 0.16);
    border-radius: 5px;
    color: #00AF43;
    text-align: center;
    width: 60px;
    font-size: 14px;
}
.ad-list-status-disabled{
    background: rgb(220, 219, 219);
    border-radius: 5px;
    color: #666;
    text-align: center;
    width: 60px;
    font-size: 14px;
}

.ad-list-info{
    margin-left: 10px;
    height: 80px;
}



.manage-adv-title{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.ad-list{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ddd;
}
.advert-list-image{
    width:70px; 
    height: 70px; 
    border-radius: 10px;
    background: url('../../../assets/loan.png') no-repeat center;
    background-size: cover;
}

.sidebar-sub-title{
    font-size: 15px;
    width: 400px;
    // font-size: 12px;
    margin-bottom: 5px;
    margin-left: 16px;
    background: linear-gradient(lime,green);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: 1px solid #ddd;
}