main{
    background: #fbfbfb;
    height: 100%;
    overflow: scroll;
}

mat-toolbar{
    background: #fff;
}

span{
  cursor: pointer;
}


.search-field{
    padding: 10px;
    width: 300px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #f5f5f5f5;
    font-size: 14px;
}
.example-spacer {
    flex: 1 auto;
    width: 40%;
}

.download-button{
    background: #0033AA;
    color: #fff;
    text-align: center;
    padding: 0;
    width: 200px;
    border-radius: 5px;
}

.container-flex{
    display: flex;
    .child1{
        flex: 1;
    }
    .child2{
        flex: 3;
        margin-right: 20px;
        overflow: scroll;
        height: 65vh;
    }
}

.container-flex-child{
    background: #fff;
    border: 1px solid #ddd;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}
.flex-child-title{
    font-size: 18px;
    margin-bottom: 15px;
}
.flex-child-title-value{
    font-size: 18px;
    font-weight: bold;
}


.table-title{
    padding: 5px;
    font-weight: lighter;
    color: rgba(68, 68, 68, 0.79);
    text-align: left;

}



td{
    div{
        padding: 5px;
        padding-bottom: 22px;
        padding-top: 22px;
        font-weight: normal;
    }
}

tr.border-bottom td {
border-bottom: 1pt solid #f3f3f3;
padding: 0px;
margin: 0px;
}



#table-userid{
    width: 30%;
}
#table-firstname{
    width: 22%;

}
#table-lastname{
    width: 22%;

}
#table-numberdevices{
    width: 50%;
   
}

.view-devices{
    // margin-left: 10px;
    background: #f5f5f5;
}