p, h1, h2, h3 {margin: 0;}

h2 {font-size: var(--fs-xl);}

a{
    text-decoration: none;
}

.log-int-container {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.log-int-container img {
    width: 10%;
    margin-right: 4%;
}

.login-text  {
    margin-bottom: 12%;
}

mat-form-field {
    width: 100%;
}

.input-password {position: relative;}

#visibility {
    position: absolute;
    top: 25%;
    right: 2%;
    font-size: var(--fs-l);
}

::ng-deep .mat-form-field {
    font-size: var(--fs-s);
}

.forgot-pass {
    display: block;
    margin-bottom: 12%;
}

#login {
    width: 40%;
    margin-bottom: 5%;
}

.quick-services {display: none;}
.quick-links {display: none;}

@media (min-width: 1000px) {
    .log-int-container {display: none;}

    .login-text h2 {margin-bottom: 1%;}





    .quick-services p {
        font-size: var(--fs-s);
        margin: 0 2%;
        color: rgba(14, 2, 173, 0.959);
    }

    .quick-links {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        margin-top: 12px;
        justify-content: space-between;
        a {
            cursor: pointer;
            img {
                width: 32px;
                margin-bottom: 4px;
            }
        }
    }

    .quick-services a {
        color: rgb(4, 115, 241);
    }

    .quick-services mat-icon {
      font-size: 18px;
    }

    #login {
      margin-bottom: 28%;
  }


}

@media (min-width: 850px) {

  #login {
    padding: 1% 0;
    margin-bottom: 35%;
    max-width: 150px;
}


  .quick-services {
    display: flex;
    background-color: rgba(0, 137, 255, 0.08);
    align-items: center;
    padding: 4%;
    border-radius: 5px;
}

.quick-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin-top: 12px;
    justify-content: space-between;
    a {
        cursor: pointer;
        img {
            width: 32px;
            margin-bottom: 4px;
        }
    }
}
}
